@mixin mobile_image(){
    @media screen and (max-width: 766px){
      height: 100%;
      img {
        height: 30vh;
        width: 100%;
      }
    }
}

@mixin mobile_filelist(){
  @media screen and (max-width: 766px){
    display: flex;
    justify-content: space-between;
  }
}



