@mixin mobile_image(){
    @media screen and (max-width: 766px){
      img {
        height: 30vh !important;
        width: 100%;
      }
    }
}

@mixin mobile_filelist(){
  @media screen and (max-width: 766px){
    display: flex;
    justify-content: space-between;
  }
}

@mixin mobile_mainImageDescription(){
  @media screen and (max-width: 766px){
    position: absolute;
    top: 96%;
    left: 30%;
    font-size: 18px;
    font-weight: 600;
  }
}


@mixin mobile_mainImageBtn(){
  @media screen and (max-width: 766px){
    width: 100%;
  }
}




