
@import "../../styles/mixins/index.scss";

//
.ant-menu-item.ant-menu-item-selected.ant-menu-item-only-child {
    margin: 0;
}
.ant-layout-header {
    padding: 0 10px;
}
.ant-empty-image {
    height: 100%;
    img {
        height: 100vh;
        width: 100%;
    }
} 

.ant-empty-description {
    @include mobile_mainImageDescription()
}

// 
.firstMesh {
    margin-bottom: 30px;
    @include mobile_mainImageBtn()
}

.files {
    &__list {
        .ant-empty-image {
            @include mobile_image()
        } img {
            height: 100%;
            width: 100%;
        }
    }
}
